<% if @result.is_public %>
<p>
  <a href="/result/<%=@result.period_id%>/<%=@result.code%>/result.zip" class="btn btn-primary">전체 채점 결과 받기</a>
</p>
<% end %>
<pre>
<% if @result.is_public %>
<%=@result.message%>
<% else %>
<%=@result.result_time%>에 공개됩니다.
<% end %></pre>
